# AgentV1

> Fill in a module description here

In [1]:
#| default_exp AgentV1

In [2]:
#|export
from Text2SQL.SnowflakeCore import *
from lisette import *
import pandas as pd
import ast
import regex as re
import json

In [3]:
#|export
from IPython.display import Markdown, display
MD = lambda x: display(Markdown(x))

## System Prompt

In [4]:
#|export
def create_system_prompt(schema: ParentSchema) -> str:
    return f"""You are a SQL query generator for {schema.dialect}.

DATABASE: {schema.database}.{schema.Schema}
SCHEMA: {schema.model_dump_json(indent=2)}

CORE RULES:
1. Generate SELECT queries only - no modifications
2. ALWAYS quote identifiers: SELECT "column_name" FROM "table_name"
3. Use fully qualified names: {schema.database}.{schema.Schema}."TABLE_NAME"
4. No semicolons - single statement only
5. Use the execute_query tool to run queries
6. Format queries in triple quotes for readability
7. If user asks for all data do not apply `limit`

JSON COLUMNS:
- Many columns store JSON as VARCHAR (see samples)
- To extract values: GET(PARSE_JSON("column_name"), 'key')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR

NULL VALUES:
- Sample data shows '\\N' but use IS NULL / IS NOT NULL in WHERE clauses

JSON COLUMNS:
- Many columns store JSON as VARCHAR (city, airport_name, model)
- Extract English values: GET(PARSE_JSON("column_name"), 'en')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"

ERROR RECOVERY:
If query fails:
1. Check quoted identifiers (all table/column names)
2. Verify table names are fully qualified
3. Confirm JSON extraction syntax
4. Check for typos in column/table names
5. Retry with corrected query

COMMON PATTERNS:
- Aggregations: Use COUNT(*), SUM(), AVG() with GROUP BY
- Top N: Use ORDER BY ... LIMIT N
- Deduplication: Use DISTINCT or GROUP BY
- Date filtering: Use BETWEEN or comparison operators on date columns

PERFORMANCE:
- Always use LIMIT for exploratory queries
- Prefer specific columns over SELECT *
- Use indexes via foreign key relationships

Be precise, efficient, and always validate your SQL syntax before execution."""

## Experiment

In [5]:
agent = SnowflakeAgent()

M = SnowMetadata(
    agent,
    "AIRLINES", "AIRLINES", model_name = model_name)
assert M()

In [6]:
SYSTEM_PROMPT = create_system_prompt(M.metadata)
print(SYSTEM_PROMPT)

You are a SQL query generator for snowflake.

DATABASE: AIRLINES.AIRLINES
SCHEMA: {
  "dialect": "snowflake",
  "database": "AIRLINES",
  "Schema": "AIRLINES",
  "tables": [
    {
      "name": "AIRLINES.AIRLINES.AIRCRAFTS_DATA",
      "column_names": [
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "model",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "range",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "aircraft_code": "773",
          "model": "{\"en\": \"Boeing 777-300\", \"ru\": \"–ë–æ–∏–Ω–≥ 777-300\"}",
          "range": 11100
        }
      ],
      "row_count": 9
    },
    {
      "name": "AIRLINES.AIRLINES.AIRPORTS_DATA",
      "column_names": [
        {
          "name": "airport_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "airport_name",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "city",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "coordinates",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "timezone",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "airport_code": "YKS",
          "airport_name": "{\"en\": \"Yakutsk Airport\", \"ru\": \"–Ø–∫—É—Ç—Å–∫\"}",
          "city": "{\"en\": \"Yakutsk\", \"ru\": \"–Ø–∫—É—Ç—Å–∫\"}",
          "coordinates": "(129.77099609375,62.0932998657226562)",
          "timezone": "Asia/Yakutsk"
        }
      ],
      "row_count": 104
    },
    {
      "name": "AIRLINES.AIRLINES.BOARDING_PASSES",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "boarding_no",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "seat_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005435212351",
          "flight_id": 30625,
          "boarding_no": 1,
          "seat_no": "2D"
        }
      ],
      "row_count": 579686
    },
    {
      "name": "AIRLINES.AIRLINES.BOOKINGS",
      "column_names": [
        {
          "name": "book_ref",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "book_date",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "total_amount",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "book_ref": "00000F",
          "book_date": "2017-07-05 03:12:00+03",
          "total_amount": 265700
        }
      ],
      "row_count": 262788
    },
    {
      "name": "AIRLINES.AIRLINES.FLIGHTS",
      "column_names": [
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "flight_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "scheduled_departure",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "scheduled_arrival",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "departure_airport",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "arrival_airport",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "status",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "actual_departure",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "actual_arrival",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "flight_id": 1185,
          "flight_no": "PG0134",
          "scheduled_departure": "2017-09-10 09:50:00+03",
          "scheduled_arrival": "2017-09-10 14:55:00+03",
          "departure_airport": "DME",
          "arrival_airport": "BTK",
          "status": "Scheduled",
          "aircraft_code": "319",
          "actual_departure": "\\N",
          "actual_arrival": "\\N"
        }
      ],
      "row_count": 33121
    },
    {
      "name": "AIRLINES.AIRLINES.SEATS",
      "column_names": [
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "seat_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "fare_conditions",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "aircraft_code": "319",
          "seat_no": "2A",
          "fare_conditions": "Business"
        }
      ],
      "row_count": 1339
    },
    {
      "name": "AIRLINES.AIRLINES.TICKETS",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "book_ref",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "passenger_id",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005432000987",
          "book_ref": "06B046",
          "passenger_id": "8149 604011"
        }
      ],
      "row_count": 366733
    },
    {
      "name": "AIRLINES.AIRLINES.TICKET_FLIGHTS",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "fare_conditions",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "amount",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005432159776",
          "flight_id": 30625,
          "fare_conditions": "Business",
          "amount": 42100
        }
      ],
      "row_count": 1045726
    }
  ],
  "relationships": [
    {
      "from_table": "FLIGHTS",
      "from_column": "aircraft_code",
      "to_table": "AIRCRAFTS_DATA",
      "to_column": "aircraft_code"
    },
    {
      "from_table": "FLIGHTS",
      "from_column": "departure_airport",
      "to_table": "AIRPORTS_DATA",
      "to_column": "airport_code"
    },
    {
      "from_table": "FLIGHTS",
      "from_column": "arrival_airport",
      "to_table": "AIRPORTS_DATA",
      "to_column": "airport_code"
    },
    {
      "from_table": "BOARDING_PASSES",
      "from_column": "flight_id",
      "to_table": "FLIGHTS",
      "to_column": "flight_id"
    },
    {
      "from_table": "BOARDING_PASSES",
      "from_column": "ticket_no",
      "to_table": "TICKETS",
      "to_column": "ticket_no"
    },
    {
      "from_table": "SEATS",
      "from_column": "aircraft_code",
      "to_table": "AIRCRAFTS_DATA",
      "to_column": "aircraft_code"
    },
    {
      "from_table": "TICKET_FLIGHTS",
      "from_column": "flight_id",
      "to_table": "FLIGHTS",
      "to_column": "flight_id"
    },
    {
      "from_table": "TICKET_FLIGHTS",
      "from_column": "ticket_no",
      "to_table": "TICKETS",
      "to_column": "ticket_no"
    },
    {
      "from_table": "TICKETS",
      "from_column": "book_ref",
      "to_table": "BOOKINGS",
      "to_column": "book_ref"
    }
  ]
}

CORE RULES:
1. Generate SELECT queries only - no modifications
2. ALWAYS quote identifiers: SELECT "column_name" FROM "table_name"
3. Use fully qualified names: AIRLINES.AIRLINES."TABLE_NAME"
4. No semicolons - single statement only
5. Use the execute_query tool to run queries
6. Format queries in triple quotes for readability
7. If user asks for all data do not apply `limit`

JSON COLUMNS:
- Many columns store JSON as VARCHAR (see samples)
- To extract values: GET(PARSE_JSON("column_name"), 'key')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR

NULL VALUES:
- Sample data shows '\N' but use IS NULL / IS NOT NULL in WHERE clauses

JSON COLUMNS:
- Many columns store JSON as VARCHAR (city, airport_name, model)
- Extract English values: GET(PARSE_JSON("column_name"), 'en')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name"

ERROR RECOVERY:
If query fails:
1. Check quoted identifiers (all table/column names)
2. Verify table names are fully qualified
3. Confirm JSON extraction syntax
4. Check for typos in column/table names
5. Retry with corrected query

COMMON PATTERNS:
- Aggregations: Use COUNT(*), SUM(), AVG() with GROUP BY
- Top N: Use ORDER BY ... LIMIT N
- Deduplication: Use DISTINCT or GROUP BY
- Date filtering: Use BETWEEN or comparison operators on date columns

PERFORMANCE:
- Always use LIMIT for exploratory queries
- Prefer specific columns over SELECT *
- Use indexes via foreign key relationships

Be precise, efficient, and always validate your SQL syntax before execution.

In [7]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("Which airport has the most departures?", max_steps=5)
res

ModelResponse(id='chatcmpl-xzr0kmzg7ingg0c8921v', created=1763872726, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The airport with the most departures is **Domodedovo International Airport** (airport code: DME) with **3,217** departures.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'}), provider_specific_fields={})], usage=Usage(completion_tokens=44, prompt_tokens=3656, total_tokens=3700, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [8]:
chat.print_hist()

{'role': 'user', 'content': 'Which airport has the most departures?'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR AS \\"airport_name\\", COUNT(*) AS \\"departure_count\\"\\nFROM AIRLINES.AIRLINES.\\"FLIGHTS\\"\\nGROUP BY \\"departure_airport\\"\\nORDER BY \\"departure_count\\" DESC\\nLIMIT 1"}', 'name': 'execute_query'}, 'id': '688635713', 'type': 'function'}], function_call=None, reasoning_content='Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query.', provider_specific_fields={'refusal': None, 'reasoning': 'Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query.', 'reasoning_content': 'Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query.'})

{'tool_call_id': '688635713', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nGROUP BY "departure_airport"\\nORDER BY "departure_count" DESC\\nLIMIT 1\' success=False data=None error=\'000904 (42000): SQL compilation error: error line 1 at position 22\\ninvalid identifier \\\'"airport_name"\\\'\' row_count=0 execution_time=0.0'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR AS \\"airport_name\\", COUNT(*) AS \\"departure_count\\"\\nFROM AIRLINES.AIRLINES.\\"FLIGHTS\\"\\nJOIN AIRLINES.AIRLINES.\\"AIRPORTS_DATA\\" ON \\"FLIGHTS\\".\\"departure_airport\\" = \\"AIRPORTS_DATA\\".\\"airport_code\\"\\nGROUP BY \\"airport_name\\"\\nORDER BY \\"departure_count\\" DESC\\nLIMIT 1"}', 'name': 'execute_query'}, 'id': '673702832', 'type': 'function'}], function_call=None, reasoning_content='Need airport_name from AIRPORTS_DATA join. Use departure_airport code. Query.', provider_specific_fields={'refusal': None, 'reasoning': 'Need airport_name from AIRPORTS_DATA join. Use departure_airport code. Query.', 'reasoning_content': 'Need airport_name from AIRPORTS_DATA join. Use departure_airport code. Query.'})

{'tool_call_id': '673702832', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nJOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"\\nGROUP BY "airport_name"\\nORDER BY "departure_count" DESC\\nLIMIT 1\' success=True data=[{\'airport_name\': \'Domodedovo International Airport\', \'departure_count\': 3217}] error=None row_count=1 execution_time=0.7462365627288818'}

Message(content='The airport with the most departures is **Domodedovo International Airport** (airport code: DME) with **3,217** departures.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'})

In [9]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("Which airport has the least departures?", max_steps=5)
res

ModelResponse(id='chatcmpl-l62ynxwfmnq4loga92fvfd', created=1763872744, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The airport with the fewest departures is **Usinsk Airport** (code: *USK*), with only **18** scheduled departures in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'}), provider_specific_fields={})], usage=Usage(completion_tokens=47, prompt_tokens=3683, total_tokens=3730, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [10]:
chat.print_hist()

{'role': 'user', 'content': 'Which airport has the least departures?'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR AS \\"airport_name\\", COUNT(*) AS \\"departure_count\\"\\nFROM AIRLINES.AIRLINES.\\"FLIGHTS\\"\\nGROUP BY \\"departure_airport\\"\\nORDER BY \\"departure_count\\" ASC\\nLIMIT 1"}', 'name': 'execute_query'}, 'id': '381813769', 'type': 'function'}], function_call=None, reasoning_content='Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Query.', provider_specific_fields={'refusal': None, 'reasoning': 'Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Query.', 'reasoning_content': 'Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Query.'})

{'tool_call_id': '381813769', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nGROUP BY "departure_airport"\\nORDER BY "departure_count" ASC\\nLIMIT 1\' success=False data=None error=\'000904 (42000): SQL compilation error: error line 1 at position 22\\ninvalid identifier \\\'"airport_name"\\\'\' row_count=0 execution_time=0.0'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR AS \\"airport_name\\", COUNT(*) AS \\"departure_count\\"\\nFROM AIRLINES.AIRLINES.\\"FLIGHTS\\"\\nJOIN AIRLINES.AIRLINES.\\"AIRPORTS_DATA\\" ON \\"FLIGHTS\\".\\"departure_airport\\" = \\"AIRPORTS_DATA\\".\\"airport_code\\"\\nGROUP BY \\"departure_airport\\", GET(PARSE_JSON(\\"airport_name\\"), \'en\')::VARCHAR\\nORDER BY \\"departure_count\\" ASC\\nLIMIT 1"}', 'name': 'execute_query'}, 'id': '320355892', 'type': 'function'}], function_call=None, reasoning_content='Need airport_name from AIRPORTS_DATA join. Use departure_airport code.', provider_specific_fields={'refusal': None, 'reasoning': 'Need airport_name from AIRPORTS_DATA join. Use departure_airport code.', 'reasoning_content': 'Need airport_name from AIRPORTS_DATA join. Use departure_airport code.'})

{'tool_call_id': '320355892', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nJOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"\\nGROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR\\nORDER BY "departure_count" ASC\\nLIMIT 1\' success=True data=[{\'airport_name\': \'Usinsk Airport\', \'departure_count\': 18}] error=None row_count=1 execution_time=0.6200854778289795'}

Message(content='The airport with the fewest departures is **Usinsk Airport** (code: *USK*), with only **18** scheduled departures in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'})

## For formtting user input

In [11]:
chat.hist[0]

{'role': 'user', 'content': 'Which airport has the least departures?'}

In [12]:
#|export
def md_user(msg):
    """Format user message with quote styling"""
    content = msg.get('content', '') if isinstance(msg, dict) else msg.content
    
    return f"""### üë§ **User**

> {content}
"""

In [13]:
MD(md_user(chat.hist[0]))

### üë§ **User**

> Which airport has the least departures?

## For formtting  tool execute query response

Implement rendering of chat  history for better visualization and analysis.

In [14]:
content = chat.hist[2]['content']

# Extract the key-value pairs
# This regex finds pattern: key=value
pattern = r"(\w+)=(.+?)(?=\s+\w+=|\s*$)"
matches = re.findall(pattern, content)
matches

[('query',
  '\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nGROUP BY "departure_airport"\\nORDER BY "departure_count" ASC\\nLIMIT 1\''),
 ('success', 'False'),
 ('data', 'None'),
 ('error',
  '\'000904 (42000): SQL compilation error: error line 1 at position 22\\ninvalid identifier \\\'"airport_name"\\\'\''),
 ('row_count', '0'),
 ('execution_time', '0.0')]

In [15]:
ast.literal_eval(matches[2][1].strip())

In [16]:
chat.hist[2]

{'tool_call_id': '381813769',
 'role': 'tool',
 'name': 'execute_query',
 'content': 'query=\'SELECT GET(PARSE_JSON("airport_name"), \\\'en\\\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\\nFROM AIRLINES.AIRLINES."FLIGHTS"\\nGROUP BY "departure_airport"\\nORDER BY "departure_count" ASC\\nLIMIT 1\' success=False data=None error=\'000904 (42000): SQL compilation error: error line 1 at position 22\\ninvalid identifier \\\'"airport_name"\\\'\' row_count=0 execution_time=0.0'}

We want the details of content. It is a string object.

In [17]:
#|export
def str2key_value(msg:str):
    """
    Extracts key and value from a message string.

    Args:
        msg (str): The message string to extract tools from.
        Ex: `'query=\'SELECT "departure_airport", COUNT(*) AS "departures" FROM AIRLINES.AIRLINES."FLIGHTS" WHERE "scheduled_departure" IS NOT NULL GROUP BY "departure_airport" ORDER BY "departures" ASC LIMIT 1\' success=True data=[{\'departure_airport\': \'USK\', \'departures\': 18}] error=None row_count=1 execution_time=0.3334343433380127'`

    Returns:
        dict: A dictionary of tools extracted from the message string.
        Ex:
        {'query': 'SELECT "departure_airport", COUNT(*) AS "departures" FROM AIRLINES.AIRLINES."FLIGHTS" WHERE "scheduled_departure" IS NOT NULL GROUP BY "departure_airport" ORDER BY "departures" ASC LIMIT 1',
        'success': True,
        'data': [{'departure_airport': 'USK', 'departures': 18}],
        'error': None,
        'row_count': 1,
        'execution_time': 0.3334343433380127}

    """
    pattern = r"(\w+)=(.+?)(?=\s+\w+=|\s*$)"
    matches = re.findall(pattern, msg)
    parsed = {}
    for key, value in matches:
        try:
            # Try to evaluate as Python literal
            parsed[key] = ast.literal_eval(value.strip())
        except (ValueError, SyntaxError):
            # If it fails, keep as string
            parsed[key] = value.strip()
    return parsed

In [18]:
str2key_value('content')

{}

In [19]:
dic = str2key_value(chat.hist[2]['content'])
dic

{'query': 'SELECT GET(PARSE_JSON("airport_name"), \'en\')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"\nFROM AIRLINES.AIRLINES."FLIGHTS"\nGROUP BY "departure_airport"\nORDER BY "departure_count" ASC\nLIMIT 1',
 'success': False,
 'data': None,
 'error': '000904 (42000): SQL compilation error: error line 1 at position 22\ninvalid identifier \'"airport_name"\'',
 'row_count': 0,
 'execution_time': 0.0}

In [20]:
#|export
def md_tool(dic):
    """Compact tool result formatting"""
    content = str2key_value(dic.get('content', ''))
    
    success = content.get('success', False)
    data = content.get('data', [])
    row_count = content.get('row_count', 0)
    exec_time = content.get('execution_time', 0)
    
    base_str = f"""### üõ†Ô∏è **Tool**
__Executed: {dic.get('name', '')}__

"""
    
    if not success:
        return base_str + f"‚ùå **Error:** {content.get('error')}"
    
    # Format first few rows
    if data: 
        if isinstance(data, str):
            # rather than conerting str to table
            # better to refire the query ti db 
            query = content.get('query', '')
            r = agent.execute_query(query)
            df = pd.json_normalize(r.data)
        else:
            df = pd.json_normalize(data[:5])
        
        table = df.to_markdown(index=False)
    else:
        table = "_No data_"
    
    return base_str + f"""‚úÖ **Result** ({row_count} rows, {exec_time:.2f}s)

{table}
"""

In [21]:
MD(md_tool(chat.hist[2]))

### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 000904 (42000): SQL compilation error: error line 1 at position 22
invalid identifier '"airport_name"'

## For formtting  assistant response

In [22]:
#|export
from litellm.types.utils import Message
def md_assistant(msg:Message):
    """Format message as markdown - handles both tool calls and regular responses"""
    
    # Check if this is a tool call message
    if msg.tool_calls and len(msg.tool_calls) > 0:
        # Format tool call
        try:
            func = msg.tool_calls[0]['function']
            args = json.loads(func['arguments'])
            query = args.pop('query', '')
            
            query_section = f"""<details>
<summary><b>üìù Query</b></summary>

```sql
{query}

```
</details>
"""  if query else ''
            #query_section = f">**Query:**\n```sql\n{query}\n```\n" if query else ''
            
            args_table = (
                "\n| Parameter | Value |\n|-----------|-------|\n" + 
                "\n".join(f"| **{k}** | `{v}` |" for k, v in args.items())
            ) if args else ""
            
            reasoning = msg.reasoning_content or "No reasoning provided"
            
            return f"""### üß† Assistant \n\n
_Reasoning: {reasoning}_

**Call: {func['name']}**

{query_section}{args_table}

"""
        except (IndexError, KeyError, json.JSONDecodeError) as e:
            return f"‚ùå Error formatting tool call: {e}"
    
    else:
        # Regular assistant message (no tool calls)
        reasoning = msg.reasoning_content or ""
        reasoning_section = f"\n\nüí≠ _Reasoning: {reasoning}_" if reasoning else ""
        
        return f"""ü§ñ **Assistant**

{msg.content}{reasoning_section}
"""

In [23]:
m = md_assistant(chat.hist[1])
display(Markdown(m))

### üß† Assistant


_Reasoning: Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
GROUP BY "departure_airport"
ORDER BY "departure_count" ASC
LIMIT 1

```
</details>

In [24]:
MD(md_assistant(chat.hist[-1]))

ü§ñ **Assistant**

The airport with the fewest departures is **Usinsk Airport** (code: *USK*), with only **18** scheduled departures in the dataset.

üí≠ _Reasoning: Need to output result._

## Putting it all together

In [25]:
r = []
for h in chat.hist:
    if isinstance(h, dict) :
        ## it will be for user and tools
        if h['role'] == 'user':
            r.append(md_user(h))
        elif h['role'] == 'tool':
            r.append(md_tool(h))
    elif isinstance(h, Message):
        ## assitant turn
        r.append(md_assistant(h))

In [26]:
MD('\n ---\n'.join(r))

### üë§ **User**

> Which airport has the least departures?

 ---
### üß† Assistant


_Reasoning: Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
GROUP BY "departure_airport"
ORDER BY "departure_count" ASC
LIMIT 1

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 000904 (42000): SQL compilation error: error line 1 at position 22
invalid identifier '"airport_name"'
 ---
### üß† Assistant


_Reasoning: Need airport_name from AIRPORTS_DATA join. Use departure_airport code._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
JOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"
GROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR
ORDER BY "departure_count" ASC
LIMIT 1

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.62s)

| airport_name   |   departure_count |
|:---------------|------------------:|
| Usinsk Airport |                18 |

 ---
ü§ñ **Assistant**

The airport with the fewest departures is **Usinsk Airport** (code: *USK*), with only **18** scheduled departures in the dataset.

üí≠ _Reasoning: Need to output result._

In [27]:
def vis(chat):
        r = []
        for h in chat.hist:
            if isinstance(h, dict) :
                ## it will be for user and tools
                if h['role'] == 'user':
                    r.append(md_user(h))
                elif h['role'] == 'tool':
                    r.append(md_tool(h))
            elif isinstance(h, Message):
                ## assitant turn
                r.append(md_assistant(h))
        return MD('\n ---\n'.join(r))

In [28]:
vis(chat)

### üë§ **User**

> Which airport has the least departures?

 ---
### üß† Assistant


_Reasoning: Need count of departures per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport and order asc limit 1. Also extract airport_name en. Need join to AIRPORTS_DATA. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
GROUP BY "departure_airport"
ORDER BY "departure_count" ASC
LIMIT 1

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 000904 (42000): SQL compilation error: error line 1 at position 22
invalid identifier '"airport_name"'
 ---
### üß† Assistant


_Reasoning: Need airport_name from AIRPORTS_DATA join. Use departure_airport code._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
JOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"
GROUP BY "departure_airport", GET(PARSE_JSON("airport_name"), 'en')::VARCHAR
ORDER BY "departure_count" ASC
LIMIT 1

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.62s)

| airport_name   |   departure_count |
|:---------------|------------------:|
| Usinsk Airport |                18 |

 ---
ü§ñ **Assistant**

The airport with the fewest departures is **Usinsk Airport** (code: *USK*), with only **18** scheduled departures in the dataset.

üí≠ _Reasoning: Need to output result._

## Other Expriments

### 1.

In [29]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("How many flights are there?", max_steps=5)
res

ModelResponse(id='chatcmpl-t8k0uyv1a3gwjhthhn1v9', created=1763872751, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The total number of flights is **33,121**.', role='assistant', tool_calls=None, function_call=None, reasoning_content='', provider_specific_fields={'refusal': None, 'reasoning': ''}), provider_specific_fields={})], usage=Usage(completion_tokens=16, prompt_tokens=3308, total_tokens=3324, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [30]:
vis(chat)

### üë§ **User**

> How many flights are there?

 ---
### üß† Assistant


_Reasoning: Need count from FLIGHTS. Use fully qualified._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT COUNT(*) AS "flight_count" FROM AIRLINES.AIRLINES."FLIGHTS"

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.35s)

|   flight_count |
|---------------:|
|          33121 |

 ---
ü§ñ **Assistant**

The total number of flights is **33,121**.

### 2

In [31]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
res = chat("Which airport has the most departures?", max_steps=5)
res

ModelResponse(id='chatcmpl-xlh2sxyjwnnwgtxgijmuip', created=1763872766, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The airport with the most departures is **Domodedovo International Airport** (airport code: DME) with **3,217** departure flights.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'}), provider_specific_fields={})], usage=Usage(completion_tokens=45, prompt_tokens=3656, total_tokens=3701, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [32]:
vis(chat)

### üë§ **User**

> Which airport has the most departures?

 ---
### üß† Assistant


_Reasoning: Need count of flights per departure_airport. Use FLIGHTS table. Count distinct flight_id? Probably each flight counts once. So group by departure_airport. Order desc limit 1. Extract airport_name en. Need join to AIRPORTS_DATA. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
GROUP BY "departure_airport"
ORDER BY "departure_count" DESC
LIMIT 1

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 000904 (42000): SQL compilation error: error line 1 at position 22
invalid identifier '"airport_name"'
 ---
### üß† Assistant


_Reasoning: Need airport_name from AIRPORTS_DATA join. Use departure_airport code. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("airport_name"), 'en')::VARCHAR AS "airport_name", COUNT(*) AS "departure_count"
FROM AIRLINES.AIRLINES."FLIGHTS"
JOIN AIRLINES.AIRLINES."AIRPORTS_DATA" ON "FLIGHTS"."departure_airport" = "AIRPORTS_DATA"."airport_code"
GROUP BY "airport_name"
ORDER BY "departure_count" DESC
LIMIT 1

```
</details>



 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (1 rows, 0.37s)

| airport_name                     |   departure_count |
|:---------------------------------|------------------:|
| Domodedovo International Airport |              3217 |

 ---
ü§ñ **Assistant**

The airport with the most departures is **Domodedovo International Airport** (airport code: DME) with **3,217** departure flights.

üí≠ _Reasoning: Need to output result._

### 3

In [33]:
def ask(q):
    chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[agent.execute_query])
    res = chat(q, max_steps=15)
    return chat, res

In [34]:
q = "What are the top 5 busiest routes by number of flights?"

chat, res = ask(q)
res

ModelResponse(id='chatcmpl-hwr1y282ox5ocwhrpl2op', created=1763872775, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='Here are the top\u202f5 busiest routes (by number of flights) in the dataset:\n\n| # | Departure Airport | Arrival Airport | Flight Count |\n|---|--------------------|-----------------|--------------|\n| 1 | SVO                | LED             | 305          |\n| 2 | LED                | SVO             | 305          |\n| 3 | DME                | LED             | 244          |\n| 4 | LED                | DME             | 244          |\n| 5 | BZK                | SVO             | 183          |\n\nThese counts are derived from the `FLIGHTS` table, grouping by both departure and arrival airports.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Return results.', provider_specific_fields={'refusal': None, 'reasoning': 'Return results.', 'reasoning_content': 'Return results.'}), provider_specific_fields={})], usage=Usage(completion_tokens=150, prompt_tokens=3498, total_tokens=3648, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [35]:
vis(chat)

### üë§ **User**

> What are the top 5 busiest routes by number of flights?

 ---
### üß† Assistant


_Reasoning: Need query joining FLIGHTS and maybe count distinct flight_id per route (departure_airport, arrival_airport). Order desc limit 5. Use fully qualified names. Return columns: departure_airport, arrival_airport, COUNT(*) AS "flight_count"._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport", "arrival_airport", COUNT(*) AS "flight_count" FROM AIRLINES.AIRLINES."FLIGHTS" GROUP BY "departure_airport", "arrival_airport" ORDER BY "flight_count" DESC LIMIT 5

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (5 rows, 0.37s)

| departure_airport   | arrival_airport   |   flight_count |
|:--------------------|:------------------|---------------:|
| SVO                 | LED               |            305 |
| LED                 | SVO               |            305 |
| DME                 | LED               |            244 |
| LED                 | DME               |            244 |
| BZK                 | SVO               |            183 |

 ---
ü§ñ **Assistant**

Here are the top‚ÄØ5 busiest routes (by number of flights) in the dataset:

| # | Departure Airport | Arrival Airport | Flight Count |
|---|--------------------|-----------------|--------------|
| 1 | SVO                | LED             | 305          |
| 2 | LED                | SVO             | 305          |
| 3 | DME                | LED             | 244          |
| 4 | LED                | DME             | 244          |
| 5 | BZK                | SVO             | 183          |

These counts are derived from the `FLIGHTS` table, grouping by both departure and arrival airports.

üí≠ _Reasoning: Return results._

### 4

In [36]:
q = "Which aircraft models have the most seats available?"

chat, res = ask(q)
res

ModelResponse(id='chatcmpl-42l9vplnqvv1cvtan0g8hy', created=1763872869, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='Here are the aircraft models with the highest number of seats available, ordered from most to least:\n\n| Model | Seat Count |\n|-------|------------|\n| Boeing\u202f777‚Äë300 | 402 |\n| Boeing\u202f767‚Äë300 | 222 |\n| Airbus\u202fA321‚Äë200 | 170 |\n| Airbus\u202fA320‚Äë200 | 140 |\n| Boeing\u202f737‚Äë300 | 130 |\n| Airbus\u202fA319‚Äë100 | 116 |\n| Sukhoi Superjet‚Äë100 | 97 |\n| Bombardier CRJ‚Äë200 | 50 |\n| Cessna\u202f208 Caravan | 12 |\n\nThese counts were derived by joining the `SEATS` table with `AIRCRAFTS_DATA`, extracting the English model name from the JSON column, and aggregating the seat rows per model.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to present results.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to present results.', 'reasoning_content': 'Need to present results.'}), provider_specific_fields={})], usage=Usage(completion_tokens=181, prompt_tokens=3818, total_tokens=3999, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [37]:
vis(chat)

### üë§ **User**

> Which aircraft models have the most seats available?

 ---
### üß† Assistant


_Reasoning: Need join SEATS with AIRCRAFTS_DATA to count seats per model. Extract model en. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("model"),'en')::VARCHAR AS "model", COUNT(*) AS "seat_count"
FROM AIRLINES.AIRLINES."SEATS"
GROUP BY GET(PARSE_JSON("model"),'en')::VARCHAR
ORDER BY "seat_count" DESC

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 000904 (42000): SQL compilation error: error line 1 at position 22
invalid identifier '"model"'
 ---
### üß† Assistant


_Reasoning: Need join SEATS with AIRCRAFTS_DATA to get model. Use aircraft_code._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON(a."model"),'en')::VARCHAR AS "model", COUNT(*) AS "seat_count"
FROM AIRLINES.AIRLINES."SEATS" s
JOIN AIRLINES.AIRLINES."AIRCRAFTS_DATA" a ON s."aircraft_code" = a."aircraft_code"
GROUP BY GET(PARSE_JSON(a."model"),'en')::VARCHAR
ORDER BY "seat_count" DESC

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (9 rows, 74.53s)

| model           |   seat_count |
|:----------------|-------------:|
| Boeing 777-300  |          402 |
| Boeing 767-300  |          222 |
| Airbus A321-200 |          170 |
| Airbus A320-200 |          140 |
| Boeing 737-300  |          130 |

 ---
ü§ñ **Assistant**

Here are the aircraft models with the highest number of seats available, ordered from most to least:

| Model | Seat Count |
|-------|------------|
| Boeing‚ÄØ777‚Äë300 | 402 |
| Boeing‚ÄØ767‚Äë300 | 222 |
| Airbus‚ÄØA321‚Äë200 | 170 |
| Airbus‚ÄØA320‚Äë200 | 140 |
| Boeing‚ÄØ737‚Äë300 | 130 |
| Airbus‚ÄØA319‚Äë100 | 116 |
| Sukhoi Superjet‚Äë100 | 97 |
| Bombardier CRJ‚Äë200 | 50 |
| Cessna‚ÄØ208 Caravan | 12 |

These counts were derived by joining the `SEATS` table with `AIRCRAFTS_DATA`, extracting the English model name from the JSON column, and aggregating the seat rows per model.

üí≠ _Reasoning: Need to present results._

### 5

In [38]:
q = "What is the average booking amount by all months?"
chat, res = ask(q)
res

ModelResponse(id='chatcmpl-4y1bpe1itrbrvqcyyirqkl', created=1763872894, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='```sql\nSELECT EXTRACT(MONTH FROM TO_TIMESTAMP("book_date")) AS "month",\n       AVG("total_amount") AS "avg_total_amount"\nFROM AIRLINES.AIRLINES."BOOKINGS"\nGROUP BY 1\nORDER BY 1;\n```\n\nResult (first 10 rows):\n\n| month | avg_total_amount |\n|-------|------------------|\n| 6     | 76319.457757     |\n| 7     | 79217.606637     |\n| 8     | 78886.354229     |\n\n(Only three months are present in the sample data.)', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output result.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output result.', 'reasoning_content': 'Need to output result.'}), provider_specific_fields={})], usage=Usage(completion_tokens=139, prompt_tokens=3656, total_tokens=3795, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [39]:
vis(chat)

### üë§ **User**

> What is the average booking amount by all months?

 ---
### üß† Assistant


_Reasoning: Need avg total_amount per month. Use BOOKINGS.book_date cast to date and extract month. Query._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT GET(PARSE_JSON("book_date"), 'en')::VARCHAR AS "book_date", EXTRACT(MONTH FROM TO_TIMESTAMP("book_date")) AS "month", AVG("total_amount") AS "avg_total_amount"
FROM AIRLINES.AIRLINES."BOOKINGS"
GROUP BY 1,2
ORDER BY 2

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚ùå **Error:** 100069 (22P02): Error parsing JSON: garbage in the numeric literal: 2017-07-05 , pos 11
 ---
### üß† Assistant


_Reasoning: Need to parse book_date as timestamp directly, not JSON. It's string. So use TO_TIMESTAMP(book_date). Also no need GET. Let's try._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT EXTRACT(MONTH FROM TO_TIMESTAMP("book_date")) AS "month", AVG("total_amount") AS "avg_total_amount"
FROM AIRLINES.AIRLINES."BOOKINGS"
GROUP BY 1
ORDER BY 1

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (3 rows, 0.38s)

|   month |   avg_total_amount |
|--------:|-------------------:|
|       6 |            76319.5 |
|       7 |            79217.6 |
|       8 |            78886.4 |

 ---
ü§ñ **Assistant**

```sql
SELECT EXTRACT(MONTH FROM TO_TIMESTAMP("book_date")) AS "month",
       AVG("total_amount") AS "avg_total_amount"
FROM AIRLINES.AIRLINES."BOOKINGS"
GROUP BY 1
ORDER BY 1;
```

Result (first 10 rows):

| month | avg_total_amount |
|-------|------------------|
| 6     | 76319.457757     |
| 7     | 79217.606637     |
| 8     | 78886.354229     |

(Only three months are present in the sample data.)

üí≠ _Reasoning: Need to output result._

In [40]:
q = "Business class revenue wrt most used route"
chat, res = ask(q)
res

ModelResponse(id='chatcmpl-n1mm9u4dng9obipdreezkn', created=1763872911, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='**Business‚Äëclass revenue by most used route**\n\n```sql\nSELECT "departure_airport" AS "from",\n       "arrival_airport"   AS "to",\n       SUM("amount")        AS "business_revenue"\nFROM AIRLINES.AIRLINES."TICKET_FLIGHTS"\nJOIN AIRLINES.AIRLINES."FLIGHTS"\n  ON "TICKET_FLIGHTS"."flight_id" = "FLIGHTS"."flight_id"\nWHERE "fare_conditions" = \'Business\'\nGROUP BY "departure_airport", "arrival_airport"\nORDER BY "business_revenue" DESC\nLIMIT 10;\n```\n\n**Result (top\u202f10 routes)**  \n\n| from | to | business_revenue |\n|------|----|------------------|\n| DME  | KHV | 237,082,500 |\n| KHV  | DME | 233,577,000 |\n| KHV  | LED | 159,945,800 |\n| LED  | KHV | 156,408,000 |\n| LED  | IKT | 151,771,800 |\n| IKT  | LED | 150,974,400 |\n| DME  | OVB | 99,184,500 |\n| OVB  | DME | 97,594,200 |\n| IKT  | KZN | 89,167,800 |\n| KZN  | IKT | 88,956,000 |\n\nThese are the routes generating the highest business‚Äëclass revenue in the dataset.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to explain? Just output result? Probably just show query and results.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to explain? Just output result? Probably just show query and results.', 'reasoning_content': 'Need to explain? Just output result? Probably just show query and results.'}), provider_specific_fields={})], usage=Usage(completion_tokens=335, prompt_tokens=3712, total_tokens=4047, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [41]:
vis(chat)

### üë§ **User**

> Business class revenue wrt most used route

 ---
### üß† Assistant


_Reasoning: Need query: sum amount per route (departure_airport-arrival_airport) for business fare_conditions. Use TICKET_FLIGHTS join FLIGHTS to get airports. Sum amount where fare_conditions='Business'. Group by route. Order desc limit maybe 10._

**Call: execute_query**

<details>
<summary><b>üìù Query</b></summary>

```sql
SELECT "departure_airport" AS "from", "arrival_airport" AS "to", SUM("amount") AS "business_revenue" FROM AIRLINES.AIRLINES."TICKET_FLIGHTS" JOIN AIRLINES.AIRLINES."FLIGHTS" ON "TICKET_FLIGHTS"."flight_id" = "FLIGHTS"."flight_id" WHERE "fare_conditions" = 'Business' GROUP BY "departure_airport", "arrival_airport" ORDER BY "business_revenue" DESC LIMIT 10

```
</details>

| Parameter | Value |
|-----------|-------|
| **max_rows** | `10` |


 ---
### üõ†Ô∏è **Tool**
__Executed: execute_query__

‚úÖ **Result** (10 rows, 1.10s)

| from   | to   |   business_revenue |
|:-------|:-----|-------------------:|
| DME    | KHV  |          237082500 |
| KHV    | DME  |          233577000 |
| KHV    | LED  |          159945800 |
| LED    | KHV  |          156408000 |
| LED    | IKT  |          151771800 |

 ---
ü§ñ **Assistant**

**Business‚Äëclass revenue by most used route**

```sql
SELECT "departure_airport" AS "from",
       "arrival_airport"   AS "to",
       SUM("amount")        AS "business_revenue"
FROM AIRLINES.AIRLINES."TICKET_FLIGHTS"
JOIN AIRLINES.AIRLINES."FLIGHTS"
  ON "TICKET_FLIGHTS"."flight_id" = "FLIGHTS"."flight_id"
WHERE "fare_conditions" = 'Business'
GROUP BY "departure_airport", "arrival_airport"
ORDER BY "business_revenue" DESC
LIMIT 10;
```

**Result (top‚ÄØ10 routes)**

| from | to | business_revenue |
|------|----|------------------|
| DME  | KHV | 237,082,500 |
| KHV  | DME | 233,577,000 |
| KHV  | LED | 159,945,800 |
| LED  | KHV | 156,408,000 |
| LED  | IKT | 151,771,800 |
| IKT  | LED | 150,974,400 |
| DME  | OVB | 99,184,500 |
| OVB  | DME | 97,594,200 |
| IKT  | KZN | 89,167,800 |
| KZN  | IKT | 88,956,000 |

These are the routes generating the highest business‚Äëclass revenue in the dataset.

üí≠ _Reasoning: Need to explain? Just output result? Probably just show query and results._

In [42]:
#| hide
import nbdev; nbdev.nbdev_export()