In [1]:
from Text2SQL.SnowflakeCore import *

In [2]:
schema = get_schema_context("AIRLINES", "AIRLINES", model_name = model_name)
print(schema)

Reading Tables....

100%|██████████| 8/8 [00:09<00:00,  1.20s/it]

Building up FKs....
dialect='snowflake' database='AIRLINES' Schema='AIRLINES' tables=[TableAttr(name='AIRCRAFTS_DATA', column_names=[{'name': 'aircraft_code', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'model', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'range', 'type': 'NUMBER(38,0)', 'null?': 'Y'}], sample_rows=[{'aircraft_code': '773', 'model': '{"en": "Boeing 777-300", "ru": "Боинг 777-300"}', 'range': 11100}], row_count=9), TableAttr(name='AIRPORTS_DATA', column_names=[{'name': 'airport_code', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'airport_name', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'city', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'coordinates', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'timezone', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}], sample_rows=[{'airport_code': 'YKS', 'airport_name': '{"en": "Yakutsk Airport", "ru": "Якутск"}', 'city': '{"en": "Yakutsk", "ru": "Якутск"}', 'coordinates': '(129.77099609375,62.0932998657226562)', 'timezone': 'Asia/Yakutsk'}], row_count=104), TableAttr(name='BOARDING_PASSES', column_names=[{'name': 'ticket_no', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'flight_id', 'type': 'NUMBER(38,0)', 'null?': 'Y'}, {'name': 'boarding_no', 'type': 'NUMBER(38,0)', 'null?': 'Y'}, {'name': 'seat_no', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}], sample_rows=[{'ticket_no': '0005435212351', 'flight_id': 30625, 'boarding_no': 1, 'seat_no': '2D'}], row_count=579686), TableAttr(name='BOOKINGS', column_names=[{'name': 'book_ref', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'book_date', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'total_amount', 'type': 'NUMBER(38,0)', 'null?': 'Y'}], sample_rows=[{'book_ref': '00000F', 'book_date': '2017-07-05 03:12:00+03', 'total_amount': 265700}], row_count=262788), TableAttr(name='FLIGHTS', column_names=[{'name': 'flight_id', 'type': 'NUMBER(38,0)', 'null?': 'Y'}, {'name': 'flight_no', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'scheduled_departure', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'scheduled_arrival', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'departure_airport', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'arrival_airport', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'status', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'aircraft_code', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'actual_departure', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'actual_arrival', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}], sample_rows=[{'flight_id': 1185, 'flight_no': 'PG0134', 'scheduled_departure': '2017-09-10 09:50:00+03', 'scheduled_arrival': '2017-09-10 14:55:00+03', 'departure_airport': 'DME', 'arrival_airport': 'BTK', 'status': 'Scheduled', 'aircraft_code': '319', 'actual_departure': '\\N', 'actual_arrival': '\\N'}], row_count=33121), TableAttr(name='SEATS', column_names=[{'name': 'aircraft_code', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'seat_no', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'fare_conditions', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}], sample_rows=[{'aircraft_code': '319', 'seat_no': '2A', 'fare_conditions': 'Business'}], row_count=1339), TableAttr(name='TICKETS', column_names=[{'name': 'ticket_no', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'book_ref', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'passenger_id', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}], sample_rows=[{'ticket_no': '0005432000987', 'book_ref': '06B046', 'passenger_id': '8149 604011'}], row_count=366733), TableAttr(name='TICKET_FLIGHTS', column_names=[{'name': 'ticket_no', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'flight_id', 'type': 'NUMBER(38,0)', 'null?': 'Y'}, {'name': 'fare_conditions', 'type': 'VARCHAR(16777216)', 'null?': 'Y'}, {'name': 'amount', 'type': 'NUMBER(38,0)', 'null?': 'Y'}], sample_rows=[{'ticket_no': '0005432159776', 'flight_id': 30625, 'fare_conditions': 'Business', 'amount': 42100}], row_count=1045726)] relationships=[{'from_table': 'FLIGHTS', 'from_column': 'aircraft_code', 'to_table': 'AIRCRAFTS_DATA', 'to_column': 'aircraft_code'}, {'from_table': 'FLIGHTS', 'from_column': 'departure_airport', 'to_table': 'AIRPORTS_DATA', 'to_column': 'airport_code'}, {'from_table': 'FLIGHTS', 'from_column': 'arrival_airport', 'to_table': 'AIRPORTs_DATA', 'to_column': 'airport_code'}, {'from_table': 'BOARDING_PASSES', 'from_column': 'ticket_no', 'to_table': 'TICKETS', 'to_column': 'ticket_no'}, {'from_table': 'BOARDING_PASSES', 'from_column': 'flight_id', 'to_table': 'FLIGHTS', 'to_column': 'flight_id'}, {'from_table': 'TICKET_FLIGHTS', 'from_column': 'ticket_no', 'to_table': 'TICKETS', 'to_column': 'ticket_no'}, {'from_table': 'TICKET_FLIGHTS', 'from_column': 'flight_id', 'to_table': 'FLIGHTS', 'to_column': 'flight_id'}, {'from_table': 'TICKETS', 'from_column': 'book_ref', 'to_table': 'BOOKINGS', 'to_column': 'book_ref'}, {'from_table': 'SEATS', 'from_column': 'aircraft_code', 'to_table': 'AIRCRAFTS_DATA', 'to_column': 'aircraft_code'}]

In [3]:
def create_system_prompt(schema: ParentSchema) -> str:
    return f"""You are a SQL query generator for {schema.dialect}.

DATABASE: {schema.database}.{schema.Schema}
SCHEMA: {schema.model_dump_json(indent=2)}

CORE RULES:
1. Generate SELECT queries only - no modifications
2. ALWAYS quote identifiers: SELECT "column_name" FROM "table_name"
3. Use fully qualified names: {schema.database}.{schema.Schema}."TABLE_NAME"
4. No semicolons - single statement only
5. Use the execute_query tool to run queries

JSON COLUMNS:
- Many columns store JSON as VARCHAR (see samples)
- To extract values: GET(PARSE_JSON("column_name"), 'key')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR

NULL VALUES:
- Sample data shows '\\N' but use IS NULL / IS NOT NULL in WHERE clauses

ERROR RECOVERY:
- If query fails, check: quoted identifiers, table/column names, JSON syntax
- Analyze error message and retry with corrections

Be precise and efficient."""
SYSTEM_PROMPT = create_system_prompt(schema)
print(SYSTEM_PROMPT)

You are a SQL query generator for snowflake.

DATABASE: AIRLINES.AIRLINES
SCHEMA: {
  "dialect": "snowflake",
  "database": "AIRLINES",
  "Schema": "AIRLINES",
  "tables": [
    {
      "name": "AIRCRAFTS_DATA",
      "column_names": [
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "model",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "range",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "aircraft_code": "773",
          "model": "{\"en\": \"Boeing 777-300\", \"ru\": \"Боинг 777-300\"}",
          "range": 11100
        }
      ],
      "row_count": 9
    },
    {
      "name": "AIRPORTS_DATA",
      "column_names": [
        {
          "name": "airport_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "airport_name",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "city",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "coordinates",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "timezone",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "airport_code": "YKS",
          "airport_name": "{\"en\": \"Yakutsk Airport\", \"ru\": \"Якутск\"}",
          "city": "{\"en\": \"Yakutsk\", \"ru\": \"Якутск\"}",
          "coordinates": "(129.77099609375,62.0932998657226562)",
          "timezone": "Asia/Yakutsk"
        }
      ],
      "row_count": 104
    },
    {
      "name": "BOARDING_PASSES",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "boarding_no",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "seat_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005435212351",
          "flight_id": 30625,
          "boarding_no": 1,
          "seat_no": "2D"
        }
      ],
      "row_count": 579686
    },
    {
      "name": "BOOKINGS",
      "column_names": [
        {
          "name": "book_ref",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "book_date",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "total_amount",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "book_ref": "00000F",
          "book_date": "2017-07-05 03:12:00+03",
          "total_amount": 265700
        }
      ],
      "row_count": 262788
    },
    {
      "name": "FLIGHTS",
      "column_names": [
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "flight_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "scheduled_departure",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "scheduled_arrival",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "departure_airport",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "arrival_airport",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "status",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "actual_departure",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "actual_arrival",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "flight_id": 1185,
          "flight_no": "PG0134",
          "scheduled_departure": "2017-09-10 09:50:00+03",
          "scheduled_arrival": "2017-09-10 14:55:00+03",
          "departure_airport": "DME",
          "arrival_airport": "BTK",
          "status": "Scheduled",
          "aircraft_code": "319",
          "actual_departure": "\\N",
          "actual_arrival": "\\N"
        }
      ],
      "row_count": 33121
    },
    {
      "name": "SEATS",
      "column_names": [
        {
          "name": "aircraft_code",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "seat_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "fare_conditions",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "aircraft_code": "319",
          "seat_no": "2A",
          "fare_conditions": "Business"
        }
      ],
      "row_count": 1339
    },
    {
      "name": "TICKETS",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "book_ref",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "passenger_id",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005432000987",
          "book_ref": "06B046",
          "passenger_id": "8149 604011"
        }
      ],
      "row_count": 366733
    },
    {
      "name": "TICKET_FLIGHTS",
      "column_names": [
        {
          "name": "ticket_no",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "flight_id",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        },
        {
          "name": "fare_conditions",
          "type": "VARCHAR(16777216)",
          "null?": "Y"
        },
        {
          "name": "amount",
          "type": "NUMBER(38,0)",
          "null?": "Y"
        }
      ],
      "sample_rows": [
        {
          "ticket_no": "0005432159776",
          "flight_id": 30625,
          "fare_conditions": "Business",
          "amount": 42100
        }
      ],
      "row_count": 1045726
    }
  ],
  "relationships": [
    {
      "from_table": "FLIGHTS",
      "from_column": "aircraft_code",
      "to_table": "AIRCRAFTS_DATA",
      "to_column": "aircraft_code"
    },
    {
      "from_table": "FLIGHTS",
      "from_column": "departure_airport",
      "to_table": "AIRPORTS_DATA",
      "to_column": "airport_code"
    },
    {
      "from_table": "FLIGHTS",
      "from_column": "arrival_airport",
      "to_table": "AIRPORTs_DATA",
      "to_column": "airport_code"
    },
    {
      "from_table": "BOARDING_PASSES",
      "from_column": "ticket_no",
      "to_table": "TICKETS",
      "to_column": "ticket_no"
    },
    {
      "from_table": "BOARDING_PASSES",
      "from_column": "flight_id",
      "to_table": "FLIGHTS",
      "to_column": "flight_id"
    },
    {
      "from_table": "TICKET_FLIGHTS",
      "from_column": "ticket_no",
      "to_table": "TICKETS",
      "to_column": "ticket_no"
    },
    {
      "from_table": "TICKET_FLIGHTS",
      "from_column": "flight_id",
      "to_table": "FLIGHTS",
      "to_column": "flight_id"
    },
    {
      "from_table": "TICKETS",
      "from_column": "book_ref",
      "to_table": "BOOKINGS",
      "to_column": "book_ref"
    },
    {
      "from_table": "SEATS",
      "from_column": "aircraft_code",
      "to_table": "AIRCRAFTS_DATA",
      "to_column": "aircraft_code"
    }
  ]
}

CORE RULES:
1. Generate SELECT queries only - no modifications
2. ALWAYS quote identifiers: SELECT "column_name" FROM "table_name"
3. Use fully qualified names: AIRLINES.AIRLINES."TABLE_NAME"
4. No semicolons - single statement only
5. Use the execute_query tool to run queries

JSON COLUMNS:
- Many columns store JSON as VARCHAR (see samples)
- To extract values: GET(PARSE_JSON("column_name"), 'key')::VARCHAR
- Example: GET(PARSE_JSON("airport_name"), 'en')::VARCHAR

NULL VALUES:
- Sample data shows '\N' but use IS NULL / IS NOT NULL in WHERE clauses

ERROR RECOVERY:
- If query fails, check: quoted identifiers, table/column names, JSON syntax
- Analyze error message and retry with corrections

Be precise and efficient.

In [5]:
from lisette import *

chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[execute_query])

res = chat("How many flights are there?")
res

ModelResponse(id='chatcmpl-aefa789r2irv0a7v5h1f4k', created=1763669088, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='{"flight_count":33121}', role='assistant', tool_calls=None, function_call=None, reasoning_content='', provider_specific_fields={'refusal': None, 'reasoning': ''}), provider_specific_fields={})], usage=Usage(completion_tokens=11, prompt_tokens=2649, total_tokens=2660, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})

In [7]:
chat.print_hist()

{'role': 'user', 'content': 'How many flights are there?'}

Message(content='', role='assistant', tool_calls=[{'function': {'arguments': '{"query":"SELECT COUNT(*) AS \\"flight_count\\" FROM AIRLINES.AIRLINES.\\"FLIGHTS\\""}', 'name': 'execute_query'}, 'id': '422353124', 'type': 'function'}], function_call=None, reasoning_content='Need count of FLIGHTS. Use SELECT COUNT(*) FROM AIRLINES.AIRLINES."FLIGHTS".', provider_specific_fields={'refusal': None, 'reasoning': 'Need count of FLIGHTS. Use SELECT COUNT(*) FROM AIRLINES.AIRLINES."FLIGHTS".', 'reasoning_content': 'Need count of FLIGHTS. Use SELECT COUNT(*) FROM AIRLINES.AIRLINES."FLIGHTS".'})

{'tool_call_id': '422353124', 'role': 'tool', 'name': 'execute_query', 'content': 'query=\'SELECT COUNT(*) AS "flight_count" FROM AIRLINES.AIRLINES."FLIGHTS"\' success=True data=[{\'flight_count\': 33121}] error=None row_count=1 execution_time=0.353029727935791'}

{'role': 'assistant', 'content': 'You have no more tool uses. Please summarize your findings. If you did not complete your goal please tell the user what further work needs to be done so they can choose how best to proceed.'}

Message(content='{"flight_count":33121}', role='assistant', tool_calls=None, function_call=None, reasoning_content='', provider_specific_fields={'refusal': None, 'reasoning': ''})

In [8]:
chat = Chat(model_name, sp=SYSTEM_PROMPT, tools=[execute_query])
res = chat("Which airport has the most departures?", max_steps=5)
res

ModelResponse(id='chatcmpl-rwg8d6wfyng5pcawk997rk', created=1763669171, model='lm_studio/openai/gpt-oss-20b', object='chat.completion', system_fingerprint='openai/gpt-oss-20b', choices=[Choices(finish_reason='stop', index=0, message=Message(content='The airport with the most departures is **DME** (Domodedovo International Airport), with **3,217** departures.', role='assistant', tool_calls=None, function_call=None, reasoning_content='Need to output answer.', provider_specific_fields={'refusal': None, 'reasoning': 'Need to output answer.', 'reasoning_content': 'Need to output answer.'}), provider_specific_fields={})], usage=Usage(completion_tokens=41, prompt_tokens=3121, total_tokens=3162, completion_tokens_details=None, prompt_tokens_details=None), service_tier=None, stats={})